/* Footer */
footer > div.footer-list {
    padding: 1rem;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
footer > div.footer-list > a {
    text-decoration: none;

    box-sizing: border-box;
    overflow: hidden;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text);

    padding: 1rem;
    margin: 0.5rem 0.5rem 0.1rem 0.5rem;

    height: 3rem;
    border-radius: 1.5rem;

    transition: all 0.25s, color 1s;
}
/* footer:hover > div.footer-list > a {
    color: var(--secondary);
} */
footer > div.footer-list > a:hover {
    background-color: var(--secondary);
    color: var(--accent);

    text-shadow: var(--primary) 0 0 2rem;
}