nav {
    padding: 1rem;
}
nav > i.hamburger {
    color: var(--accent);
}
nav > ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
nav > ul > li {
    margin: 1rem 0px;
}
nav > ul > li > a {
    text-decoration: none;
    cursor: pointer;

    font-family: monospace;
    font-size: 1rem;
    color: var(--accent);
}


@media only screen and (min-width: 1024px) {
    nav > i.hamburger {
        display: none;
    }

    nav > ul {
        margin: 1rem;
    }
    nav > ul > li {
        margin: 2rem 0px;
    }
    nav > ul > li > a {
        font-size: 1.5rem;
    }
}